.bluebox{
  background-color: #3A5795;
  color: white;
  height: 100px;
  width:300px;
}
.yellowbox{
  background-color: rgb(222, 224, 85);
  height: 100px;
  width: auto;
}
.greenbox{
  background-color: #31af37;
  height: 100px;
  width: auto;
}
.great{
  background-color: #5a3479;
  
}
p{
  margin: 0;
  
}
