.bluebox{
  background-color: blue;
  color: white;
  height: 100px;
  width:300px;
}
.yellowbox{
  background-color: yellow;
  height: 100px;
  width: auto;
}
.greenbox{
  background-color: green;
  height: 100px;
  width: auto;
}
.great{
  background-color: red;
  
}
p{
  margin: 0px;
  
}
marquee{
 background-color: bisque;
 color: brown; 
}